<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" type="image/jpg" href="{% static 'aarhnLogo.png' %}" />
	<title>Events</title>

	<link rel="stylesheet" href="{% static 'css/hamburger.css' %}" />
	<!-- <link rel="stylesheet" href="{% static 'css/home.css' %}" /> -->
	<link rel="stylesheet" href="{% static 'eventsAndInitiatives/events.css' %}" />
	<!-- <link rel="stylesheet" href="{% static 'events22.css' %}" /> -->
	<link rel="stylesheet" href="{% static 'firefly.css' %}" />
	<link rel="shortcut icon" type="image/jpg" href="{% static 'img/aarohan_logo1-01.png' %}">
</head>

<body>

	no event
</body>
<script src="{% static 'js/home.js' %}"></script>
{% include 'flow/navbarAndFooter/footer.html' %}

</html>