{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>Corporate Social Initiative</title>
		<link rel="stylesheet" href="{% static 'firefly.css' %}" />
    <link rel="stylesheet" href="{% static 'eventsAndInitiatives/socialInitiatives.css' %}">
	<link rel="shortcut icon" type="image/jpg" href="{% static 'img/aarohan_logo1-01.png' %}">
	</head>
	<body
		style="
			background-image: url('{% static 'bg23.jpg' %}');
		"
	>
  {% include 'flow/navbarAndFooter/navbar.html' %}


		<div class="firefly"></div>
		<div class="firefly"></div>
		<div class="firefly"></div>
		<div class="firefly"></div>
		<div class="firefly"></div>
		<div class="firefly"></div>
		<div class="firefly"></div>
		<div class="firefly"></div>
		<div class="firefly"></div>
		<div class="firefly"></div>
		<div class="firefly"></div>
		<div class="firefly"></div>
		<div class="firefly"></div>
		<div class="firefly"></div>
		<div class="firefly"></div>

    <div class="container">
      {% for w in data %}
			<div class="shadow">
				<div class="card draw-border">
					{% if w.socialinitiative.poster %}
					<img
						src="{{w.socialinitiative.poster.url}}"
						alt="Person"
						class="card__image"
					/>
					{% endif %}
					<p class="card__name">{{w.socialinitiative.name}}</p>

					<div class="info">
						<div>DAY 1</div>

						<div>6:00 pm</div>
					</div>

					<div class="buttons">
						<a class="button" href="{{w.socialinitiative.webinar_link}}" style="text-decoration: none;">Register</a>
						<div class="know" value="{{w.socialinitiative.id}}">
							<button class="button" value="{{w.socialinitiative.id}}">Know More
						</div>
					</div>
				</div>
			</div>

    <div class="modal" id="{{w.socialinitiative.id}}">
      <div class="modalCard">
        <div class="close">
          <img src="{% static 'img/cross.png' %}" alt="" class="cross" value="{{w.socialinitiative.id}}" />
        </div>
        <div class="modalCardWrapper">
			{% if w.socialinitiative.poster %}
          <img src="{{w.socialinitiative.poster.url}}" alt="" />
		  {% endif %}
          <div class="">
            <p>
              {{w.socialinitiative.description|truncatechars:550}}
            </p>
            <h1>{{w.socialinitiative.name}}</h1>
            <div class="time">
              <h3>{{w.socialinitiative.date_time}}</h3>
            </div>
            <a class="btn draw-border modal_reg" href="{{w.webinar_link}}" style="text-decoration: none;">Register</a>            
          </div>
        
        </div>
        <h1 class="head">
          IMAGE GALLERY
        </h1>
        <div class="gallery" id="gallery">
          {% for p in w.photos %}
          {% if p.image %}
          <div class="gallery-item">
             <img src="{{p.image.url}}" alt="">
          </div>
          {% endif %}
          {% endfor %}
          
      </div>
      </div>
    </div>
    {% endfor %}
  </div>  
	</body>

  {% include 'flow/navbarAndFooter/footer.html' %}

	<script src="{% static 'js/initiativesScript.js' %}"></script>
</html>