{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'css/hamburger.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar2.css' %}">
  <link rel="shortcut icon" type="image/jpg" href="{% static 'aarhnLogo.png' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/timeline_css.css' %}">
  <title>Timeline</title>
</head>

<body>
  {% include 'flow/navbarAndFooter/navbar.html' %}
  <!-- OFFCANVAS For Profile Click Event-->

  <video src="{% static 'videos/mars.mp4' %}" autoplay muted loop id="video1">
  </video>

  {% block content %}
  {% endblock %}

  <div class="timeline-container" id="timeline-1">
    <div class="timeline-header">
      <h2 class="timeline-header__title">AAROHAN TIMELINE</h2>
      <h3 class="timeline-header__subtitle">For our 20th edition, we welcome everyone to the phenomenon that is Aarohan.
        It is about time we get to ushering in The New Dimension.</h3>
      <div class="Dayz">
        <a class="btn-ap" style="color:violet" href="{% url 'timelineDay1' %}">Day0</a>
        <a class="btn-ap" style="color:violet" href="{% url 'timelineDay2' %}">Day1</a>
        <a class="btn-ap" style="color:violet" href="{% url 'timelineDay3' %}">Day2</a>
        <a class="btn-ap" style="color:violet" href="{% url 'timelineDay4' %}">Day3</a>
      </div>
    </div>


    <!-- MAIN PART OF THE PAGE , UNCOMMENT TO USE-->

    <div class="timeline">

      <div class="timeline-item" data-text="">
        <div class="card">
          <div class="cardWrapper">
            <div class="image-event">
            </div>
            <div class="event">
              <h1>Workshops </h1>
              {% comment %} <h1>BrandStorming</h1> {% endcomment %}
            </div>
            <h2>
              <h2>Cybersecurity</h2>
              <h2>Crypto and Blockchain</h2>

              <h1 style="color:rgb(247, 140, 99)">10:00 am</h1>

          </div>
        </div>
      </div>
      <div class="timeline-item" data-text="">
        <div class="card">
          <div class="cardWrapper">
            <div class="image-event">
            </div>
            <div class="event">
              <h1>BrandStorming </h1>
              {% comment %} <h1>BrandStorming</h1> {% endcomment %}
            </div>
            <h1 style="color:rgb(247, 140, 99)">10:00 am</h1>

          </div>
        </div>
      </div>

      <div class="timeline-item" data-text="">
        <div class="card">
          <div class="cardWrapper">
            <div class="image-event">
            </div>
            <div class="event">
              <h1> Hackathons </h1>
              {% comment %} <h1>BrandStorming</h1> {% endcomment %}
            </div>
            <h1 style="color:rgb(247, 140, 99)">9 am/4 pm </h1>

          </div>
        </div>
      </div>


      <div class="timeline-item" data-text="">
        <div class="card">
          <div class="cardWrapper">
            <div class="image-event">
            </div>
            <div class="event">
              <h1>Airmeet : Tech Conference 1(Technova)</h1>
              {% comment %} <h1>BrandStorming</h1> {% endcomment %}
            </div>
            <h1 style="color:rgb(247, 140, 99)">12:00 noon</h1>

          </div>
        </div>
      </div>



      <div class="timeline-item" data-text="">
        <div class="card">
          <div class="cardWrapper">
            <div class="image-event">
            </div>
            <div class="event">
              <h1>Round 1</h1>
            </div>

            {% comment %} <h2 style="color:white">Twin Attack <span style="color:violet">12:00 pm </h2> {% endcomment %}
            <h2> Twin Attack </h2>
            <h2> Invictus</h2>

            <h2> Transmission</h2>



            <h1 style="color:rgb(247, 140, 99)">12:00 pm</h1>

          </div>
        </div>
      </div>

      <div class="timeline-item" data-text="">
        <div class="card">
          <div class="cardWrapper">
            <div class="image-event">
            </div>
            <div class="event">
              <h1>Round 1</h1>
            </div>

            {% comment %} <h2 style="color:white">Twin Attack <span style="color:rgb(247, 140, 99)">12:00 pm </h2> {% endcomment %}
            <h2> Perplexity </h2>
            <h2> BrainDarts</h2>

            <h2> Matrix</h2>



            <h1 style="color:rgb(247, 140, 99)">1:00 pm</h1>

          </div>
        </div>
      </div>
      <div class="timeline-item" data-text="">
        <div class="card">
          <div class="cardWrapper">
            <div class="image-event">
            </div>
            <div class="event">
              <h1>Round 1</h1>
            </div>

            {% comment %} <h2 style="color:white">Twin Attack <span style="color:rgb(247, 140, 99)">12:00 pm </h2> {% endcomment %}
            <h2> Junkyard </h2>
            <h2> Explicate</h2>
            <h1 style="color:rgb(247, 140, 99)">2:00 pm</h1>
          </div>
        </div>
      </div>
      <div class="timeline-item" data-text="">
        <div class="card">
          <div class="cardWrapper">
            <div class="image-event">
            </div>
            <div class="event">
              <h1>Final Round</h1>
            </div>
            <h2 style="font-size:18px"> ARcanum </h2>
            <h1 style="color:rgb(247, 140, 99)">3:00 pm</h1>
          </div>
        </div>
      </div>
      <div class="timeline-item" data-text="">
        <div class="card">
          <div class="cardWrapper">
            <div class="image-event">
            </div>
            <div class="event">
              <h1>Round 1</h1>
            </div>

            {% comment %} <h2 style="color:white">Twin Attack <span style="color:rgb(247, 140, 99)">12:00 pm </h2> {% endcomment %}
            <h2> Tech Charades </h2>
            <h2> Knock Knock </h2>

            <h2> Innovare</h2>
            <h2> CrossSwords</h2>



            <h1 style="color:rgb(247, 140, 99)">3:00 pm</h1>
            <br>
            <h2> Inspirate </h2>
            <h1 style="color:rgb(247, 140, 99)">6:00 pm</h1>
          </div>
        </div>
      </div>



      <div class="timeline-item" data-text="">
        <div class="card">
          <div class="cardWrapper">
            <div class="image-event">
            </div>
            <div class="event">
              <h1>Prelims 3</h1>
            </div>

            {% comment %} <h2 style="color:white">Twin Attack <span style="color:rgb(247, 140, 99)">12:00 pm </h2> {% endcomment %}
            <h2> Be A Billionaire </h2>
            <h2> Call out Sherlock </h2>

            <h2> Kryptic</h2>
            <h2> Conquesto</h2>
            <h2> Darwinia</h2>



            <h1 style="color:rgb(247, 140, 99)">7:30 pm</h1>

          </div>
        </div>
      </div>

      <div class="timeline-item" data-text="">
        <div class="card">
          <div class="cardWrapper">
            <div class="image-event">
            </div>
            <div class="event">
              <h1>Incanity</h1>

            </div>

            <h1 style="color:rgb(247, 140, 99)">9:30 pm-11:30 pm</h1>

          </div>
        </div>
      </div>



    </div>
  </div>

  
  {% comment %} <div class="wrapper">
    <h1>Coming soon</span></h1>
  </div> {% endcomment %}



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
    document.querySelector('video1').playbackRate = 0.5;
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/home.js' %}"></script>
  {% include 'flow/navbarAndFooter/footer.html' %}
</body>

</html>