

<footer class="footer">
    <div class="footer__addr">
      <h1 class="footer__logo">AAROHAN</h1>
          
      <h2>Contact Us</h2>
      
      <address>
        Name_Name: +91 00000 00000<br>
        Name_Name: +91 00000 00000<br>
      </address>
      <li>
        <div>
            <div class="icons">
                <a data-toggle="tooltip" title="Facebook" data-placement="top" href="https://www.facebook.com/arhn.nitd/" target="_blank">
                    <i class="fa fa-facebook-square fa-2x"></i>
                </a>
                <a data-toggle="tooltip" title="instagram" data-placement="top" href="https://www.instagram.com/arhn.nitd/" target="_blank">
                    <i class="fa fa-instagram fa-2x"></i>
                </a>
                <a data-toggle="tooltip" title="Twitter" data-placement="top" href="https://twitter.com/aarohan_nitdgp" target="_blank">
                    <i class="fa fa-twitter-square fa-2x"></i>
                </a>
                <a data-toggle="tooltip" title="Linkedin" data-placement="top" href="https://www.linkedin.com/company/aarohan-nit-durgapur/" target="_blank">
                    <i class="fa fa-linkedin-square fa-2x"></i>
                </a>
                <a data-toggle="tooltip" title="Youtube" data-placement="top" href="https://www.youtube.com/channel/UCDRVna-w5uai2Vrcp5WgvSg" target="_blank">
                    <i class="fa fa-youtube-square fa-2x"></i>
                </a>
              </div>
          </div>
      </li>
    </div>
    
    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">ATTRACTIONS</h2>
  
        <ul class="nav__ul">
          <li>
            <a href="#">ATTR1</a>
          </li>
  
          <li>
            <a href="#">ATTR2</a>
          </li>
              
          <li>
            <a href="#">ATTR3</a>
          </li>
        </ul>
      </li>
      
      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">ACTIVITIES</h2>
        
        <ul class="nav__ul">
          <li>
            <a href="#">Events</a>
          </li>
          
          <li>
            <a href="#">Workshops</a>
          </li>
          
          <li>
            <a href="#">Hackathons</a>
          </li>
        </ul>
      </li>
      
      <li class="nav__item">
        <h2 class="nav__title">TEAM</h2>
        
        <ul class="nav__ul">
          <li>
            <a href="#">Team1</a>
          </li>
          
          <li>
            <a href="#">Team2</a>
          </li>
          
          <li>
            <a href="#">Team3</a>
          </li>
        </ul>
      </li>
      
      <li class="nav__item">
        <h2 class="nav__title">Sponsors</h2>
        
        <ul class="nav__ul">
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          
          <li>
            <a href="#">Terms of Use</a>
          </li>
          
          <li>
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </li>
    </ul>
    <div>
        
    </div>
    <div class="legal">
      <p>&copy; 2019 Something. All rights reserved.</p>
      
      
      <div class="legal__links">
        <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
      </div>
    </div>
  </footer>