{% load static %}
<!-- 
<nav class="navbar">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="{% static 'aarhnLogo.png' %}" width="60" height="60"></a>
      </div>
  
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><p>Teams</p></a></li>
          <li><a href="#"><p>Teams</p></a></li>
          <li><a href="#"><p>Teams</p></a></li>         
        </ul>
      </div>
    </div>
  </nav> -->
  <span class="menu_toggle">
    <i class="menu_open fa fa-bars fa-lg"></i>
    <i class="menu_close fa fa-times fa-lg"></i>
  </span>
  <ul class="menu_items">
    <li><a href="/teams"><i class="icon fa fa-users fa-2x"></i> Teams </a></li>
    <li><a href="/sponsors"><i class="icon fa fa-inr fa-2x"></i> Sponsors</a></li>
    <li><a href="/attractions"><i class="icon fa fa-star fa-2x"></i> Attractions</a></li>
    <li><a href="/events"><i class="icon fa fa-calendar fa-2x"></i> Events</a></li>
    <li><a href="/workshops"><i class="icon fa fa-podcast fa-2x"></i> Workshops</a></li>
  </ul>