{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/gif" sizes="64x64">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0">
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="format-detection" content="telephone=no">
    <link rel="alternate" hreflang="it" href="https://arhn.co.in" />
    <link rel="canonical" href="https://arhn.co.in" />
    <title>Aarohan 2020 | The Annual Techno-Management Fest</title>
    <meta name="description" content="Aarohan is the official techno-management fest of National
    Institute of Technology, Durgapur organised by Team Aavishkar" />

    <meta name="keywords" content="aarohan, 2020, 2k20, nit, nitd, nitdgp, official techno-management fest,
    fest, festival, science, engineering, techno-management, durgapur, National Institute of Technology, Durgapur,
    Aarohan is the official techno-management fest of National Institute of Technology, Durgapur, web, design, coding, development, web development, research and development, e cell, entrepreneurship, R&D, robotics, robo cell,
    robowars, hackathon, events, official, best fest of nitd, aarohan nites, 2nd largest, eastern 
    India, 2nd largest fest in eastern India, gaming, electronics, computer science events, mechatronics" />

    <meta name="author" content="Team Aarohan,National Institute of Technology, Durgapur(NIT Dgp)" />
    <meta name="robots" content="index,follow" />
    <link rel="canonical" href="https://arhn.co.in" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Aarohan 2019">
    <meta itemprop="description" content="Aarohan is the official techno-management fest of National
    Institute of Technology, Durgapur organised by Team Aaviskar">
    <meta itemprop="image" content="https://arhn.co.in/img/arhn_header.png">
    <!-- Schema.org markup for Google+ -->

    <!-- ============og tags=========== -->
    <meta property="og:locale" content="it_IT" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Aarohan 2019" />
    <meta property="og:description" content="Aarohan is the official techno-management fest of
    National Institute of Technology, Durgapur organised by Team Aaviskar" />
    <meta property="og:url" content="https://arhn.co.in" />
    <meta property="og:site_name" content="Aarohan 2019" />
    <meta property="og:image" content="https://arhn.co.in/img/arhn_header.png" />
    <meta property="og:image:secure_url" content="https://arhn.co.in/img/arhn_header.png" />
    <meta property="fb:admins" content="448633928526715" />
    <!-- ============og tags=========== -->
    <meta name="theme-color" content="#151e3d" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@aarohan_nitdgp">
    <meta name="twitter:title" content="Aarohan 2019">
    <meta name="twitter:description" content="Aarohan is the official techno-management fest of
    National Institute of Technology, Durgapur organised by Team Aaviskar">
    <meta name="twitter:creator" content="@aarohan_nitdgp">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image" content="https://arhn.co.in/img/arhn_header.png">


    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
        integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
    <!-- fullpage cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.css" />
    <!-- tweenmax cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"></script>
    <!-- css file -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>

<body>
    <!-- loader  -->
    <div id="loader"></div>

    <div id="content">
        <div id="arhn_header">
            <a href=""> <img style="width: 10vw;" src="{% static 'img/arhn_header.png' %}" /></a>
        </div>

        <!-- navigation -->
        <div class="overlay-navigation">
            <nav role="navigation">
                <ul>
                    <li><a href="#home" data-content="The beginning">Home</a></li>
                    <li><a href="#aboutus" data-content="Curious?">About</a></li>
                    <li><a href="#event" data-content="Fun & Fun">Events</a></li>
                    <li><a href="#workshops" data-content="Only the finest">Workshops</a></li>
                    <li><a href="/teams" data-content="The Brains behind">Team</a></li>
                    <li><a href="#contactus" data-content="Don't hesitate">Contact Us</a></li>
                </ul>
            </nav>
        </div>

        <!-- <div class="open-overlay">
            <span class="bar-top"></span>
            <span class="bar-middle"></span>
            <span class="bar-bottom"></span>
        </div> -->

        <div class="hamburger open-overlay" id="hamburger-11">
            <a id="menu">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </a>
        </div>

        <!-- Social Links -->
        <div id="social_icons" class="social_links">
            <a href="https://www.facebook.com/arhn.nitd/"><i id="icn1" class="fab fa-facebook-square"></i></a></br>
            <a href="https://www.instagram.com/arhn.nitd/"><i id="icn2" class="fab fa-instagram"></i></a></br>
            <a href="https://twitter.com/aarohan_nitdgp?lang=en"><i id="icn3"
                    class="fab fa-twitter-square"></i></a></br>
            <a href="https://www.youtube.com/user/arhnNITD"><i id="icn4" class="fab fa-youtube"></i></a></br>
        </div>

        <!-- fullpage div -->
        <div id="fullpage">
            <!-- landing 1 -->
            <div class="section " id="landing">
                <img id="header" src="{% static 'img/a4png.png' %}" alt="arhn2020" />
                <!-- <img id="mob_head" src="{% static 'img/arhn_header.png' %}" alt="arhn2020"> -->

                <!-- patrons -->
                <img class="patron" src="{% static 'img/patron.png' %}" alt="patron">

                <!-- title sponsor -->
                <div class="nitd-black">
                    <img src="{% static 'img/nitdlogo_black.png' %}">
                    <h1 style="display:inline">&</h1>
                </div>
                <div class="title-sponsor">
                    <img src="{% static 'img/HN Logo_Final.png' %}">
                    <h1>presents</h1>
                </div>

                <!-- txt 1 -->
                <h1 id="head-txt-1">AAR</h1>
                <!-- txt 2 -->
                <h1 id="head-txt-2">HAN</h1>
                <!-- mobile txt -->
                <p class="mob-head" id="mob-head">AAROHAN</p>
                <!-- date -->
                <h1 class="date" id="date">7 8 9 10<br>FEBRUARY</h1>
                <!-- eye -->
                <div id="eye-container">
                    <img id="eye-container-img" src="{% static 'img/a2.png' %}" alt="arhn2020" />
                </div>
                <div id="eye" class="eyes">
                    <div class="eye">
                        <div class="ball"></div>
                    </div>
                </div>
                <!-- waves -->
                <div id="waves">
                </div>
            </div>

            <!-- about us 2 -->
            <div class="section" id="about">
                <div class="intro">
                    <div id="about-us">
                        <img id="about-us-img" src="{% static 'img/about-us2.png' %}" alt="arhn2020" />
                    </div>
                    <div id="about-handle">
                        <img id="about-handle-img" src="{% static 'img/peri2.png' %}" alt="arhn2020" />
                    </div>
                    <div id="txt-2">
                        Organised by the Team Aavishkar, Aarohan is the Annual Techno-Management fest of NIT Durgapur
                        and the second largest of its kind in eastern India. It is made possible by a group of
                        enthusiastic students working passionately under the supervision of our highly responsible
                        faculties. This festival has been constantly encouraging the students to showcase their talents,
                        explore their creative limits, experiment and have fun by taking part in fun and creative
                        events.<br><br> Aarohan has been a pioneer in the culture of celebrating science, technology and
                        innovation through festivities. With more than 50 events covering all genres of technology and
                        management, Aarohan brings some of the best solutions of mankind’s modern-day problems to the
                        fore.
                    </div>
                </div>
            </div>

            <!-- events  3 -->
            <div class="section" id="events">
                <div id="evnt_back">
                    <img src="{% static 'img/events.png' %}" />
                </div>
                <div id="evnt_circle">
                    <div class="center">
                        <img class="c_img" src="{% static 'img/CENTRE.png' %}" alt="wdct">
                        <h1 class="center_txt">EVENTS</h1>
                    </div>
                    <div class="rad" id="rad1">
                        <div class="sides" id="side1" style="transform: rotate(-27deg);">
                            <a href="/events/bob" style="text-decoration: none;">
                                <img class="s_img" src="{% static 'img/1.png' %}" alt="wdct">
                                <div class="txt_div">
                                    <h1 class="side_txt">BoB</h1>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="rad" id="rad2">
                        <div class="sides" id="side2" style="transform: rotatez(-90deg);">
                            <a href='/events/armageddon' style="text-decoration: none;">
                                <img class="s_img" src="{% static 'img/2.png' %}" alt="wdct">
                                <div class="txt_div" style="width: 135%;">
                                    <h1 class="side_txt">Armageddon</h1>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="rad" id="rad3">
                        <div class="sides" id="side3" style="transform: rotate(34deg);">
                            <a href='/events/eureka' style="text-decoration: none;">
                                <img class="s_img" src="{% static 'img/3.png' %}" alt="wdct">
                                <div class="txt_div">
                                    <h1 class="side_txt">Eureka</h1>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="rad" id="rad4">
                        <div class="sides" id="side4" style="transform: rotate(90deg);">
                            <a href='/events/neo_tronix' style="text-decoration: none;">
                                <img class="s_img" src="{% static 'img/4.png' %}" alt="wdct">
                                <div class="txt_div">
                                    <h1 class="side_txt">Neo-Tronix</h1>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="rad" id="rad5">
                        <div class="sides" id="side5" style="transform: rotate(152deg);">
                            <a href='/events/tech_turf' style="text-decoration: none;">
                                <img class="s_img" src="{% static 'img/5.png' %}" alt="wdct">
                                <div class="txt_div">
                                    <h1 class="side_txt">Tech Turf</h1>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="rad" id="rad6">
                        <div class="sides" id="side6" style="    transform: rotate(-146deg);">
                            <a href='/events/strategia' style="text-decoration: none;">
                                <img class="s_img" src="{% static 'img/6.png' %}" alt="wdct">
                                <div class="txt_div">
                                    <h1 class="side_txt">Strategia</h1>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- mobile -->
                <div id="evnt_circle_mobile">
                    <div class="center">
                        <img class="c_img" src="{% static 'img/CENTRE.png' %}" alt="wdct">
                        <h1 class="center_txt">EVENTS</h1>
                    </div>

                    <div class="sides_mob" id="side1">
                        <a href='/events/bob' style="text-decoration: none;">
                            <img class="s_img" src="{% static 'img/1.png' %}" alt="BoB">
                            <div class="txt_div">
                                <h1 class="side_txt">BoB</h1>
                            </div>
                        </a>
                    </div>


                    <div class="sides_mob" id="side2">
                        <a href='/events/armageddon' style="text-decoration: none;">
                            <img class="s_img" src="{% static 'img/2.png' %}" alt="Armageddon">
                            <div class="txt_div">
                                <h1 class="side_txt">Armageddon</h1>
                            </div>
                        </a>
                    </div>



                    <div class="sides_mob" id="side3">
                        <a href='/events/eureka' style="text-decoration: none;">
                            <img class="s_img" src="{% static 'img/3.png' %}" alt="Eureka">
                            <div class="txt_div">
                                <h1 class="side_txt">Eureka</h1>
                            </div>
                        </a>
                    </div>



                    <div class="sides_mob" id="side4">
                        <a href='/events/neo_tronix' style="text-decoration: none;">
                            <img class="s_img" src="{% static 'img/4.png' %}" alt="Neo-Tronix">
                            <div class="txt_div">
                                <h1 class="side_txt">Neo-Tronix</h1>
                            </div>
                        </a>
                    </div>



                    <div class="sides_mob" id="side5">
                        <a href='/events/tech_turf' style="text-decoration: none;">
                            <img class="s_img" src="{% static 'img/5.png' %}" alt="Tech Turf">
                            <div class="txt_div">
                                <h1 class="side_txt">Tech Turf</h1>
                            </div>
                        </a>
                    </div>



                    <div class="sides_mob" id="side6">
                        <a href="/events/strategia" style="text-decoration: none;">
                            <img class="s_img" src="{% static 'img/6.png' %}" alt="Strategia">
                            <div class="txt_div">
                                <h1 class="side_txt">Strategia</h1>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <!-- workshop 4 -->
            <div class="section" id="workshop">
                <div id="evnt_back">
                    <img src="{% static 'img/workshop.png' %}" />
                </div>
                <div class="workshop-div">
                    <h2 class="workshop-title">WORKSHOPS</h2>
                    <div id="images_cont" style="text-align: center;">

                        <div class="div-out-wksp" style="display: block;">
                            <a href="https://bit.ly/38zqCjb" target="_blank">
                                <div class="div-in-wksp" style="display: inline-grid;">
                                    <img class="workshop-img" src="{% static 'img/WORKSHOP1.png' %}" alt="workshop">
                                    <h2 class="workshop-name workshop-name1 workshop-mob">ML & AI</h2>
                                </div>
                            </a>
                            <a href="https://bit.ly/2RnfpfP" target="_blank">
                                <div class="div-in-wksp" style="display: inline-grid;">
                                    <img class="workshop-img" src="{% static 'img/WORKSHOP2.png' %}" alt="workshop">
                                    <h2 class="workshop-name workshop-name2 workshop-mob">IoT</h2>
                                </div>
                            </a>
                        </div>

                        <div class="div-out-wksp" style="display: block;">
                            <a href="https://bit.ly/2Ggn9dd" target="_blank">
                                <div class="div-in-wksp" style="display: inline-grid;">
                                    <img class="workshop-img" src="{% static 'img/WORKSHOP1.png' %}" alt="workshop">
                                    <h2 class="workshop-name workshop-name2 workshop-mob">3D printing</h2>
                                </div>
                            </a>
                            <a href="https://bit.ly/37pIUDl" target="_blank">
                                <div class="div-in-wksp" style="display: inline-grid;">
                                    <img class="workshop-img" src="{% static 'img/WORKSHOP2.png' %}" alt="workshop">
                                    <h2 class="workshop-name workshop-name3 workshop-mob">Ethical hacking</h2>
                                </div>
                            </a>
                        </div>
                        <!-- <br class="workshop-not-mob">
                            <h2 class="workshop-name workshop-name1 workshop-not-mob">IoT & AI</h2>
                            <h2 class="workshop-name workshop-name2 workshop-not-mob">3D printing</h2>
                            <h2 class="workshop-name workshop-name3 workshop-not-mob">Ethical hacking</h2> -->
                    </div>
                </div>
            </div>

            <!-- major attractions 5 -->
            <div class="section" id="attr">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-xs-6">
                            <h1 class="attr-title">Major Attractions</h1>
                        </div>
                        <div class="col-lg-8 col-sm-8 col-xs-6 mx-auto temp">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <button type="button" class="btn btn-primary btn-remove" data-toggle="modal"
                                        data-target="#exampleModal" onclick="showModal()">
                                        <img src="{% static 'img/openingceremony.jpeg' %}" alt="" class="attr-img">
                                    </button>
                                    <button type="button" class="btn btn-primary btn-remove" data-toggle="modal"
                                        data-target="#exampleModal">
                                        <img src="{% static 'img/overnightgaming.jpeg' %}" alt="" class="attr-img">
                                    </button>
                                    <button type="button" class="btn btn-primary btn-remove" data-toggle="modal"
                                        data-target="#exampleModal">
                                        <img src="{% static 'img/standup.jpg' %}" alt="" class="attr-img">
                                    </button>
                                </div>
                                <div class="row justify-content-center">
                                    <button type="button" class=" btn-remove" data-toggle="modal"
                                        data-target="#exampleModal">
                                        <img src="{% static 'img/ignitia.jpeg' %}" alt="" class="attr-img">
                                    </button>
                                    <button type="button" class="btn btn-primary btn-remove" data-toggle="modal"
                                        data-target="#exampleModal">
                                        <img src="{% static 'img/cyclestuntshow.jpeg' %}" alt="" class="attr-img">
                                    </button>
                                </div>
                                <div class="row justify-content-center">
                                    <button type="button" class=" btn-remove" data-toggle="modal"
                                        data-target="#exampleModal">
                                        <img src="{% static 'img/bandperformance.jpg' %}" alt="" class="attr-img">
                                    </button>
                                    <button type="button" class="btn btn-primary btn-remove" data-toggle="modal"
                                        data-target="#exampleModal">
                                        <img src="{% static 'img/armydisplay.jpeg' %}" alt="" class="attr-img">
                                    </button>
                                    <button type="button" class="btn btn-primary btn-remove" data-toggle="modal"
                                        data-target="#exampleModal">
                                        <img src="{% static 'img/gamingarena.jpeg' %}" alt="" class="attr-img">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- sponsors 6 -->
            <div class="section" id="sponsors">
                <div class="titlehead">
                    <h1>Sponsors</h1>
                </div>
                <div class="container">
                    <div class="temprow">
                        <img src="{% static 'img/HN Logo_Final.png' %}">
                        <img src="{% static 'img/nitdlogo.jpeg' %}">
                        <img src="{% static 'img/adobe.jpeg' %}">
                        <img src="{% static 'img/airtel.jpeg' %}">
                        <img src="{% static 'img/allahabadbank.jpeg' %}">
                        <img src="{% static 'img/aquatica.jpeg' %}">
                        <img src="{% static 'img/arihants.jpeg' %}">
                        <img src="{% static 'img/avaya.jpeg' %}">
                        <img src="{% static 'img/balaniinfotech.jpeg' %}">
                        <img src="{% static 'img/developercircle.jpeg' %}">
                        <img src="{% static 'img/dominos.jpeg' %}">
                        <img src="{% static 'img/festpav.jpeg' %}">
                        <img src="{% static 'img/godrej.jpeg' %}">
                        <img src="{% static 'img/red.jpeg' %}">
                        <img src="{% static 'img/hindustanpetrol.jpeg' %}">
                        <img src="{% static 'img/hindustantimes.jpeg' %}">
                        <img src="{% static 'img/hp.jpeg' %}">
                        <img src="{% static 'img/ibm.jpeg' %}">
                        <img src="{% static 'img/igniteengineers.jpeg' %}">
                        <img src="{% static 'img/ims.jpeg' %}">
                        <img src="{% static 'img/internshala.jpeg' %}">
                        <img src="{% static 'img/itc.jpeg' %}">
                        <img src="{% static 'img/jet brains.png' %}">
                        <img src="{% static 'img/knowafest.jpeg' %}">
                        <img src="{% static 'img/microsoft_PNG4.png' %}">
                        <img src="{% static 'img/niccopark.jpeg' %}">
                        <img src="{% static 'img/nokia.jpeg' %}">
                        <img src="{% static 'img/nvidia.jpeg' %}">
                        <img src="{% static 'img/pepsi.jpeg' %}">
                        <img src="{% static 'img/pizzahut.jpeg' %}">
                        <img src="{% static 'img/redfm.jpeg' %}">
                        <img src="{% static 'img/sbi.jpeg' %}">
                        <img src="{% static 'img/tata.jpeg' %}">
                        <img src="{% static 'img/teach for india.png' %}">
                        <img src="{% static 'img/telegraph.jpeg' %}">
                        <img src="{% static 'img/time.jpeg' %}">
                        <img src="{% static 'img/xoxoday.jpeg' %}">
                        <img src="{% static 'img/jio.jpg' %}">
                        <img src="{% static 'img/thehindu.jpg' %}">
                        <img src="{% static 'img/tatasteel.jpeg' %}">
                        <img src="{% static 'img/cesc.jpeg' %}">
                        <img src="{% static 'img/flipkart.jpeg' %}">
                        <!-- <img src="{% static 'img/' %}">
                        <img src="{% static 'img/' %}">
                        <img src="{% static 'img/' %}">
                        <img src="{% static 'img/' %}"> -->
                    </div>
                </div>
            </div>

            <!-- accomodation, travel and hospitality 7 -->
            <div class="section" id="accomodation">
                <div id="cntct_us">
                    <img src="{% static 'img/ath.png' %}" alt="ath">
                </div>
                <div class="container-fluid ath-box">
                    <h1 class="ath-heading">ACCOMODATION, TRAVEL & HOSPITALITY</h1>

                    <div class="row">
                        <div class="col-sm-6 offset-lg-3 ath-txt">
                            <div class="about__info-text" style="padding-top: 5vh;">
                                <p class="sep-half">
                                    <h2>ACCOMODATION</h2>
                                    <p>An accomodation fee of ₹200 and an additional caution fee of ₹100 has be will be
                                        required at the time of registration. The caution money will be refunded at the
                                        time of departure provided the beddings provided are not tampered or missing.
                                    </p>
                                </p>
                            </div>
                            <div class="about__info-text" style="padding: 1vh 0;">
                                <p class="sep-half">
                                    <h2>TRAVEL</h2>
                                    <p>Durgapur is very well connected by rail and road to almost all parts of the
                                        country. It takes about 3 hours by road or by rail from Kolkata. During the
                                        festival, we provide exclusive bus services for our participants 24x7 from
                                        Durgapur station to the institute campus.</p>
                                </p>
                            </div>
                            <div class="about__info-text ath-no-mob" style="padding-bottom: 5vh;">
                                <p class="sep-half">
                                    <h2>HOSPITALITY</h2>
                                    <p>Apart from your accomodation & travel, there are multiple food joints in and
                                        around the institute campus to cater to your appetite. We have a 24x7
                                        multi-speciality medical unit to provide support during any emergency.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contact us 8 -->
            <div class="section" id="contact">
                <div id="cntct_us">
                    <img src="{% static 'img/cntct_us.png' %}" />
                </div>
                <div class="container-fluid contact-us">
                    <h1 style="color: black;padding-top: 5vh; ">Contact Us</h1><br><br>
                    <h3 style="padding-top: 10vh;color: black;">We are just a click away</h3>
                    <a href="https://www.facebook.com/arhn.nitd/"><i id="icn1" class="fab fa-facebook-square"></i></a>
                    <a class="contact-links" href="https://www.facebook.com/arhn.nitd/"
                        target="_blank">facebook.com/arhn.nitd</a>
                    <br>
                    <a href="https://www.instagram.com/arhn.nitd/"><i id="icn2" class="fab fa-instagram"></i></a>
                    <a class="contact-links" href="https://www.instagram.com/arhn.nitd/"
                        target="_blank">instagram.com/arhn.nitd</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

<!-- index js -->
<script src="{% static 'js/index.js' %}"></script>
<!-- navigation js -->
<script src="{% static 'js/navigation.js' %}"></script>
<!-- loader js -->
<script type="text/javascript" src="{% static 'js/loader.js' %}"></script>
<!-- waves js -->
<script src="{% static 'js/waves.js' %}"></script>

<!-- fullpage options -->
<script type="text/javascript">
    var myFullpage = new fullpage("#fullpage", {
        sectionsColor: [
            "#1bbc9b",
            "#131414",
            "#141615",
            "#141615",
            // "#4BBFC3",
            // "#7BAABE",
            "rgb(20, 22, 21)",
            "rgb(20, 22, 21)",
        ],
        //Navigation
        menu: '#menu',
        lockAnchors: false,
        anchors: ['home', 'aboutus', 'event', 'workshops', 'accomod', 'contactus'], //'mjr_attr', 'sponsor',
        navigation: false,
        navigationPosition: 'right',
        showActiveTooltip: false,
        slidesNavigation: false,
        slidesNavPosition: 'bottom',

        // animation afterleaving prev section
        onLeave: function (origin, destination, direction) {
            var loadedSection = this;
            //using anchorLink
            if (origin.anchor == 'aboutus' && direction == 'down') {
                // events animation
                animateBadge()
            }
            else if (origin.anchor == 'workshops' && direction == 'up') {
                // events animation
                animateBadge()
            }
            else if (origin.anchor == 'home' && direction == 'down') {
                iconChange()
            }
            else if (destination.anchor == 'home' && direction == 'up') {
                iconChange2()
            }
        },

        //animation onload
        afterLoad: function (origin, destination, direction) {
            if (destination.anchor == 'event') {
                // events animation
                animateBadge()
            }
        }
    });


    // landing page style
    var el = document.getElementById("eye-container");
    var ell = el.offsetWidth;
    var win = window.screen.width;
    var rt = (win - ell) / 2;
    var eye = document.getElementById("eye");
    el.style.right = rt + "px";
    eye.style.right = rt + "px";
    eye.style.width = ell + "px";

    //contact page style
    var abtel = document.getElementById("about-handle");
    var abtell = abtel.offsetWidth;
    var abtrt = (win - abtell) / 2;
    abtel.style.right = abtrt + "px";

    // landing header style
    var landtxt1 = document.getElementById("head-txt-1");
    landtxt1.style.width = rt + "px";
    var landtxt2 = document.getElementById("head-txt-2");
    landtxt2.style.width = rt + "px";

</script>

</html>
<style>
    #loader {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 55555;
        overflow: hidden;
        background: rgb(104, 208, 138) url("{% static 'img/load.gif' %}") no-repeat;
        background-position-x: 35%;
        background-position-y: 18%;
    }

    @font-face {
        font-family: Muller;
        src: url("{% static 'fonts/Muller/MullerNarrowDemo-ExtraBold.otf' %}");
    }

    @font-face {
        font-family: Muller-thin;
        src: url("{% static 'fonts/Muller/MullerNarrowDemo-Light.otf' %}");
    }

    .mob-head {
        color: whitesmoke;
        color: rgba(255, 255, 255, .1);
        position: absolute;
        z-index: 55;
        top: 61vh;
        left: 5vw;
        font-family: Muller;
        font-size: 4em;
        text-align: center;
        line-height: 1em;
        letter-spacing: 6px;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        background-image: url('{% static "img/water_image.png" %}');
        background-repeat: repeat-x;
        -webkit-background-clip: text;
        animation: animate 15s linear infinite;
    }
</style>