<html>

<head>
    {% load static %}
    <title>
        AAROHAN
    </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    footer{
        width: 100%;
        height: auto;
    }
    i{
        margin-left:10px;
        color: #cccc
    }
    </style>
        
</head>


<body>
    <img id="logo" src="{% static 'aarhnLogo.png' %}" width="60" height="60">
    <div class="overlay"></div>
    <div class="scanline"></div>
    <div class="wrapper">
        
        <div class="content clearfix">
            <a class="switcher" href="#"></a>
            <div class="screen glitch">
                
                <div class="clock is-off">
                    <h1  id="title">AAROHAN 2021</h1>
                    <h2  id="sub">By Team Aavishkar</h2>
                    <div class="timer">

                        <div>
                            <li id="timer"><span id="days"></span>days</li>
                            <li id="timer"><span id="hours"></span>Hours</li>
                            <li id="timer"><span id="minutes"></span>Minutes</li>
                            <li id="timer"><span id="seconds"></span>Seconds</li>
                        </div>

                    </div>
                    <i><h2  id="tag">#Matrix   Is   Everywhere</h2></i>
                </div>
                <div class="figure"></div>
            </div>
            <script src="{% static 'glitch.js' %}"></script>
        </div>
    </div>
    <footer>
        <a data-toggle="tooltip" title="Facebook" data-placement="top" href="https://www.facebook.com/arhn.nitd/" target="_blank">
            <i class="fa fa-facebook-square fa-2x"></i>
        </a>
        <a data-toggle="tooltip" title="instagram" data-placement="top" href="https://www.instagram.com/arhn.nitd/" target="_blank">
            <i class="fa fa-instagram fa-2x"></i>
        </a>
        <a data-toggle="tooltip" title="Twitter" data-placement="top" href="https://twitter.com/aarohan_nitdgp" target="_blank">
            <i class="fa fa-twitter-square fa-2x"></i>
        </a>
        <a data-toggle="tooltip" title="Linkedin" data-placement="top" href="https://www.linkedin.com/company/aarohan-nit-durgapur/" target="_blank">
            <i class="fa fa-linkedin-square fa-2x"></i>
        </a>
        <a data-toggle="tooltip" title="Youtube" data-placement="top" href="https://www.youtube.com/channel/UCDRVna-w5uai2Vrcp5WgvSg" target="_blank">
            <i class="fa fa-youtube-square fa-2x"></i>
        </a>
        
    </footer>


</body>

</html>