<html>

<head>
    {% load static %}
    <title>
        AAROHAN
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->

    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    footer{
        width: 100%;
        height: auto;
    }
    i{
        margin-left:10px;
        color: #cccc
    }
    </style>
        
</head>


<body>
    
    <div class="overlay"></div>
    <div class="scanline"></div>
    <div class="wrapper">
        <img id ="logo" src="{% static 'aarhnLogo.png' %}" width="60" height="60">
        <div class="content clearfix">
            <a class="switcher" href="#"></a>
            <div class="screen glitch">
                
                <div class="clock is-off">
                    <h1  id="title">AAROHAN 2021</h1>
                    <h2  id="sub">By Team Aavishkar</h2>
                    <div class="timer">

                        <div>
                            <li id="timer"><span id="days"></span>days</li>
                            <li id="timer"><span id="hours"></span>Hours</li>
                            <li id="timer"><span id="minutes"></span>Minutes</li>
                            <li id="timer"><span id="seconds"></span>Seconds</li>
                        </div>

                    </div>
                    <i><h2  id="tag">#Matrix   Is   Everywhere</h2></i>
                </div>
                <div class="figure"></div>
            </div>
            <script src="{% static 'glitch.js' %}"></script>
            <script src="{% static 'header.js' %}"></script>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>