<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="/">Aarohan, 2021</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="/events">Events</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/attractions">Attractions</a></li>
                <li><a href="/workshops">Workshops</a></li>
            </ul>
        </div>
    </div>
</nav>