
/* AAROHAN NAVBAR => ARNAV*/

.curpo{cursor: pointer;}
.fade-zoom{
  animation: wdct-special 0.5s ease;
  transition: 0.5s;
}
.bg-transparent{
  background: #060936 !important;
}
@keyframes wdct-special{
  from{
    opacity: 0.5;
    transform: scale(0.6);
  }to{
    opacity: 1;
    transform: scale(1);
  }
}
.dropdown-menu li{
  font-size: 20px;
}
.arnav {
 
    top: 0;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 10000;
    margin-top: 0.75rem;
    padding-right: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width:600px){
    .arnav{
      margin-top: 0;
      padding-right: 0;
    }   
  
  }
  @media (max-width:900px){
    .arnav{
      margin-top: 0;
      padding-right: 0;
      z-index: 100000;
    }   
  
  }
  .arnav .left-navbar img {
    height: 90px;
    width: 90px;
  }
  
  .arnav .right-navbar {
    display: flex;
    align-items: center;
    
  }
  .arnav .right-navbar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .arnav a {
    position: relative;
    color: #f1f1f1;
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
    margin: 0 1.4rem;
    animation: navAnime 0.7s ease;
    transition: 0.7s;
    font-size: 21px;
  }
  .arnav .botHover:hover {
    color: aqua;
    transition: 0.5s all;
  }
  .arnav .botHover::after {
    transition: 0.5s all;
  }
  .arnav .botHover:hover::after {
    content: '';
    position: absolute;
    height: 2px;
    border-radius: 50px;
    background: aqua;
    transition: 0.5s;
    margin: auto auto;
    left: 0;
    right: 0;
    bottom: -2px;
    animation: navHover 0.25s ease;
  }
  @keyframes navHover {
    from{
      width: 15%;
      opacity: 0.1;
    }to{
      width: 100%;
      opacity: 1;
    }
  }
  /* Bottom Content */
  @keyframes bounce {
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(-8px);
    }
  }
  .content {
    position: fixed;
    left: 5.5%;
    bottom: 4%;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    animation: navAnime 1s ease;
    transition: 0.7s;
  }
  .content h1 {
    font-size: 4.5rem;
    margin: 0;
    font-weight: 600;
    animation: bounce 0.8s ease-in-out alternate-reverse infinite;
  }
  .content p {
    font-size: 2rem;
    line-height: 1.3;
    animation: bounce 0.8s ease-in-out alternate-reverse infinite;
  }
  
  
  /* OFFCANVAS CSS */
  @keyframes OffEnd {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
    @keyframes OffShow {
      0% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
  
  .offcanvas-end {
    animation: OffEnd 0.8s !important;
    transition: 0.8s ease !important;
  }
  .offcanvas.show {
    animation: OffShow 1s !important;
    transition: 1s ease !important;
    /* overflow-y: scroll !important; */
    scrollbar-width: none;
  }
  .offcanvas.show::-webkit-scrollbar {
    display: none;
  }
  
  .offcanvas .profile {
    padding-top: 0.75rem;
    display: flex;
    align-items: center;
  }
  .offcanvas .profile img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }
  .offcanvas .profile .names {
    flex: 1;
    display: block;
    padding-left: 2rem;
    animation: fadeZoom 0.8s ease 1s;
    transition: 0.8s ease;
  }
  .offcanvas .profile h4 {
    line-height: 0;
  }
  .offcanvas .profile h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 3rem;
    margin-bottom: -20px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .offcanvas .profile button {
    font-size: 5rem;
    border: none;
    outline: none;
    background: transparent;
  }
  .offcanvas-end {
    width: 50vw !important;
    border-left: none !important;
    padding: 3rem;
  }
  /* Options Offcanvas */
  .offcanvas .options {
    margin-top: 3rem;
    padding: 0 1.5rem;
  }
  .offcanvas .options a {
    display: block;
    background: #e4feff;
    text-decoration: none;
    color: #333;
    font-size: 1.75rem;
    font-weight: 500;
    margin: 1.5rem;
    padding: 1.25rem 3rem;
    border-radius: 8px;
    border: 3px solid transparent;
    transition: 0.5s;
  }
  .offcanvas .options a:hover {
    border: 3px solid aqua;
    transition: 0.5s;
  }
  
  /* Responsive CSS */
  @media (max-width: 1220px) {
    .offcanvas-end {
      width: 85vw !important;
    }
    .arnav a {
      margin: 0;
    }
    .arnav .right-navbar a {
      display: none;
    }
    .arnav .right-navbar a:last-child {
      display: block;
    }
    .arnav .left-navbar img {
      margin-left: -0.05rem;
    }
    .arnav .right-navbar img {
      height: 55px;
      width: 55px;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
    }
  }
  .offcanvas.show .options{
    overflow-y: scroll;
    height: auto;
  }
  @media (max-width: 600px) {
    
    .offcanvas.show {
      animation: OffShow 0.5s !important;
      transition: 0.5s !important;
      min-height: 100vh;
      /* overflow-y: scroll !important; */
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .offcanvas.show::-webkit-scrollbar {
      display: none;
    }
    .offcanvas-end {
      width: 100vw !important;
      padding: 1rem;
      padding-bottom: 0;
    }
    .content {
      left: 0 !important;
      bottom: 0 !important;
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
      text-align: center;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.0) 0%,
        rgba(0, 0, 0, 0.5) 30%,
        rgba(0, 0, 0, 0.6) 50%,
        rgba(0, 0, 0, 0.7) 90%,
        rgba(0, 0, 0, 0.9) 100%
      );
    }
    .content h1 {
      font-size: 3rem;
    }
    .content p {
        font-size: 1.2rem;
    }
  
    .offcanvas .profile img {
      height: 70px;
      width:  70px;
      border-radius: 50%;
    }
    .offcanvas .profile .names {
      flex: 1;
      display: block;
      padding-left: 1rem;
    }
    .offcanvas .profile h4 {
      line-height: 0;
    }
    .offcanvas .profile h2 {
      font-size: 3rem;
      margin-bottom: -20px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .offcanvas .profile button {
      font-size: 4rem;
    }
    .offcanvas .options {
      margin-top: 4.6rem;
      padding: 0 0;
    }
    .offcanvas .options a {
      margin: 1rem 0;
      padding: 14px 1rem;
      text-align: center;
      font-size: 1.25rem;
    }
  }
  @keyframes navAnime {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  