
@import url('http://fonts.cdnfonts.com/css/lemonmilk');


.timeline {
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 850px;
	position: relative;
}
.timeline__content-title {
	font-weight: normal;
	font-size: 66px;
	margin: -10px 0 0 0;
	transition: 0.4s;
	padding: 0 10px;
	box-sizing: border-box;
	font-family: 'Pathway Gothic One', sans-serif;
	color: #fff;
	
}
.timeline:before {
	position: absolute;
	left: 50%;
	width: 3px;
	height: 100%;
	margin-left: -1px;
	content: "";
	background: #ffc0cb;
}
@media only screen and (max-width: 767px) {
	.timeline:before {
		left: 40px;
   }
}
.timeline-item {
	padding: 40px 0;   
	transition: 0.5s;
	box-sizing: border-box;
	width: calc(50% - 40px);
	display: flex;
	position: relative;
	transform: translateY(-80px);
}

.timeline-item:before {

	color: rgba(255, 255, 255, .5);
	font-size: 13px;
	font-family: 'Pathway Gothic One', sans-serif;
	border-left: 2px solid rgba(255, 255, 255, .5);
	
	margin-top: -5px;
   
	right: calc(-100% - 56px);

}
.timeline-item:nth-child(even) {
	align-self: flex-end;
   
}
.timeline-item:nth-child(even):before {
	right: auto;
	text-align: right;
	left: calc(-100% - 56px);
	padding-left: 0;
	border-left: none;
	border-right: 2px solid rgba(255, 255, 255, .5);
	padding-right: 15px;
}




@media only screen and (max-width: 767px) {
	.timeline-item {
		align-self: baseline !important;
		width: 100%;
		padding: 0 30px 50px 80px;
   }
	.timeline-item:before {
		left: 10px !important;
		right: 10px !important;
		padding: 0 !important;
		top: 50px;
		text-align: center !important;
		width: 60px;
		border: none !important;
   }
	.timeline-item:last-child {
		padding-bottom: 40px;
   }
   .timeline-header{
	   padding-bottom: 20px;
   }
   .timeline-header__title {
	   color: #fff;
	   font-size: 38px;
	   font-family: Cardo;
	   font-weight: normal;
	   margin: 0;
	   
	   background: linear-gradient(90deg, rgba(247,54,221,1) 0%, rgba(167,38,151,1) 26%, rgba(205,74,185,1) 47%, rgba(203,114,26,1) 74%, rgba(255,149,0,1) 100%);
	   -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
}

}

.timeline-container {
	margin-top: 80px !important;
	width: 100%;
	position: relative;
	transition: 0.3s ease 0s;
	background-attachment: fixed;
	background-size: cover;
}


.timeline-header {
	width: 100%;
	text-align: center;
	margin-bottom: 80px;
	position: relative;
	padding-top: 18px;
	
}
.timeline-header__title {
	color: #fff;
	font-size: 5rem;
	font-family: 'Lemon/Milk light',
	sans-serif;
	font-weight:220;
	margin: 0;
	font-family: 'Lemon/Milk light', sans-serif;
	background-color: #00DBDE;
	background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

	-webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-weight: bold;
	
}
.timeline-header__subtitle {

	color: white;
	font-family: 'comfortaa' sans-serif;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 5px;
	margin: 10px 0 0 0;
	padding-left: 7px;
	margin-bottom: 10px;
}

#video1{
   width: 100%;
 height: 100%;
 object-fit: cover;
 position: fixed;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 z-index: -1;

}
@keyframes fadeIn {
   from {top: 20%; opacity: 0;}
   to {top: 100; opacity: 1;}
   
 }
 
 @-webkit-keyframes fadeIn {
   from {top: 20%; opacity: 0;}
   to {top: 100; opacity: 1;}
   
 }
.timeline-card{
   background-color: rgba(28, 0, 73, 0.5);
   border: 3px solid;
   border-width: 3px;
   padding: 7%;
   padding-top: 20%;
   color: rgb(190, 135, 228);
   font-weight: bold;
   border-radius:15px !important;
   border-radius:50px; 
}
body::-webkit-scrollbar {
   display: none;
}
.timelin-card:before{
   background: linear-gradient(-120deg, #00c0c7, #ff009d);
   -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
   -webkit-mask-composite: destination-out;
   mask-composite: exclude; 
}
 .card {
   background-color: rgba(27, 3, 112, 0.671) !important;
   width: 90%;
   height: fit-content;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   border-radius: 15px !important;
   margin: 18px 6.5px;
   padding-bottom: 5px;
   padding-top: 2px; 
   z-index: 10;
 }
 .card::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   border-radius: 15px;
   padding: 4px;
   background: linear-gradient(-120deg, #00c0c7, #ff009d);
   -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
   -webkit-mask-composite: destination-out;
   mask-composite: exclude;
 }

 .cardWrapper{
   padding: 10px !important;
 }

 .event {
	 
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 285px;
   margin: 8px 0px 4px 0px;
   margin-top: 20px;
   margin-bottom: 20px;
   color: #fff;
 }
 .event h1 {
   font-size: 18px;
   margin: 0px;
 color:white;
 font-weight: bold;
 }
 .cardWrapper h1{
   padding-left: 12px;
 }
 .cardWrapper h2{
	padding-left: 12px;
	padding-bottom: 10px;
	font-size:18px
	
 }
 .card h2 {
   margin: 0px;
   font-size: 13px;
 }
 


 


.cardWrapper h2{
   color:white !important;
   font-size:18px
}
.cardWrapper h1{
   font-size: 25px;
}
@media only screen and (max-width:400px){
   .timeline-container{
	   width: 375px;
	   overflow-x: hidden;
   }
   .timeline-container:before{
	   width:375px;
	   overflow-x: hidden;
   }
}
@media only screen and (max-width:390px){
   .timeline-container{
	   width: 370px;
	   overflow-x: hidden;
   }
   .timeline-container:before{
	   width:370px;
	   overflow-x: hidden;
   }
}
@media only screen and (max-width:375px){
   .timeline-container{
	   width: 360px;
	   overflow-x: hidden;
   }
   .timeline-container:before{
	   width:360px;
	   overflow-x: hidden;
   }
}
@media only screen and (max-width:350px){
   .timeline-container{
	   width: 330px;
	   overflow-x: hidden;
   }
   .timeline-container:before{
	   width:330px;
	   overflow-x: hidden;
   }
}
@media only screen and (max-width:767px){
   .card{
	   margin-left: -25.5px;

   }
   .timeline::before{
	   overflow-x: hidden;	
   }
   
}
@media only screen and (max-width:767px){
	#video1{
		object-fit: cover;
 position: fixed;
	}
}
@media only screen and (max-width:488px){

.card{
   font-size: 5px;
	width:fit-content ;
}
}


.cardWrapper h2{
   font-size:180px;
}
.card h2{
   font-size:17px;
}

.Dayz{
   margin: 50px auto 20px;
}

.Dayz a:nth-child(2){
   margin: 0px 5px 0px 5px;
}
.Dayz a:nth-child(3) {
   margin-right: 5px;
}

.btn-ap{
   color: #fff !important;
   font-weight: 600;
   background:linear-gradient(45deg, #00DBDE 0%, #3235eb 100%);
   font-size: 20px !important;
   padding:10px;
   background-size: 100% 100%;
   border-radius: 7px;
   text-decoration :none !important;
   transition: 0.5s all ease-in-out;
   animation: glow 1s ease infinite linear;
}

@keyframes glow{
	   0% {
		   background-position: 0% 50%;
	   }

	   50% {
		   background-position: 100% 50%;
	   }

	   100% {
		   background-position: 0% 50%;
	   }
}

.btn-ap:hover {
   transition: 0.5s all ease-in-out;
}