@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

body::after {
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  display: block;
  background-color: rgba(40, 15, 10, 0.27);
  z-index: -1;
}

.head-h1 {
  max-width: 1000px;
  padding-inline: 0.5rem;
  margin-inline: auto;
  user-select: none;
  filter: saturate(1.5);
  font-family: 'Transformers', sans-serif;
  margin-top: 5rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-inline: 0.5rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  position: relative;
}

.card *:empty(:not(img)) {
  display: none;
}

.card-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 25px;
  position: relative;
  aspect-ratio: 1;
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.card-header {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 93.52%;
  color: rgba(40, 15, 10, 0.87);
}

.card-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 16px;
  text-transform: uppercase;
  color: rgb(150, 86, 75);
}

.card-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: rgba(40, 15, 10, 0.87);
  text-decoration: none;
  align-self: flex-end;
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: inline-block;
  padding: 0.4rem 0.65rem;
  background: transparent;
  transition: all 250ms;
  border-radius: 150px;
  cursor: pointer;
}

.card-btn::after {
  content: '';
  left: 0;
  right: 0;
  display: block;
  bottom: 1px;
  height: 2px;
  background-color: rgba(40, 15, 10, 0.87);
  transform: scaleX(0);
  transition: transform 150ms;
}

.card-btn:hover::after {
  transform: scaleX(1);
}

.modal-bg {
  display: none;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  backdrop-filter: blur(1px);
  display: grid;
  place-items: center;
  transition: opacity 200ms;
  transition: backdrop-filter 200ms;
}

.open-modal-bg {
  display: grid;
  opacity: 1;
  backdrop-filter: blur(15px);
  pointer-events: all;
}

.modal {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  display: flex;
  opacity: 0;
  transform: scaleY(0);
  transition: all 100ms ease-in-out;
  transition-delay: 0.1s;
  z-index: 999;
}

.modal *:empty(:not(img)) {
  display: none;
}

.open-modal {
  opacity: 1;
  transform: scaleY(1);
}

.modal-image {
  max-width: 400px;
  max-height: 400px;
  border-radius: 25px;
  position: relative;
  aspect-ratio: 1;
}

.modal-text {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.modal-header {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 93.52%;
  color: rgba(40, 15, 10, 0.87);
}

.modal-title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 16px;
  text-transform: uppercase;
  text-align: justify;
  color: rgb(150, 86, 75);
}

.modal-desc {
  text-align: justify;
  color: #212121;
}

.modal-btn {
  display: inline-block;
  padding: 0.75rem 2rem;
  border: 3px solid #442822;
  color: #442822;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  justify-self: flex-start;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-image {
    width: 100%;
    max-width: unset;
    max-height: 350px;
    aspect-ratio: 1;
  }

  .card-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgba(40, 15, 10, 0.87);
    text-decoration: none;
    align-self: center;
    position: static;
    display: inline-block;
    padding: 0.5rem 1.65rem;
    background: rgba(40, 15, 10, 0.3);
    transition: all 250ms;
    border-radius: 150px;
    cursor: pointer;
  }
  .card-btn::after {
    content: unset;
  }

  .modal {
    flex-direction: column;
    text-align: center;
  }

  .modal-text {
    padding: unset;
  }

  .modal-image {
    max-width: 200px;
    max-width: 200px;
  }

  .modal-header {
    font-size: 1.2rem;
  }

  .modal-title {
    font-size: 0.8rem;
  }
}
