@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/static/workshops/media_workshops/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

body::after {
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  display: block;
  background-color: rgba(40, 15, 10, 0.17);
  z-index: -1;
}

.head-h1 {
  width: 100vw;
  max-width: 1000px;
  padding-inline: 0.5rem;
  margin-inline: auto;
  user-select: none;
  margin-top: 5rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-inline: 0.5rem;
  /* background: blue; */
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1.5rem;
  background: hsl(14, 100%, 85%);
  border: 4px solid hsl(10, 63%, 10%);
  /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); */
  backdrop-filter: blur(10px);
  border-radius: 15px;
  position: relative;
  transition: transform 100ms;
}
.card:hover {
  transform: scale(1.02);
}

.card *:empty(:not(img)) {
  display: none;
}

.card-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 15px;
  position: relative;
  aspect-ratio: 1;
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.card-tag {
  font-size: 0.85rem;
  font-weight: 600;
  display: inline-block;
  align-self: flex-start;
  padding: 0.2em 0.7em;
  color: hsl(10, 63%, 40%);
  border: 2px solid hsl(10, 63%, 40%);
  border-radius: 500px;
}

.card-header {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 93.52%;
  color: rgba(40, 15, 10, 0.87);
}

.card-id {
  font-weight: 700;
  font-size: 1rem;
  line-height: 16px;
  text-transform: uppercase;
  color: rgb(150, 86, 75);
}

.card-cta {
  font-weight: bold;
  display: inline-block;
  align-self: flex-start;
  padding: 0.5em 1em;
  position: relative;
  color: white;
  text-decoration: none;
  transform: scaleX(0);
  cursor: pointer;
  transition: tramsform 100ms;
}

.card-cta::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background: rgba(40, 15, 10, 0.87);
  z-index: -1;
  border-radius: 6px;
  cursor: pointer;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 170ms ease-in-out;
}

.card:hover .card-cta::after {
  transform: scaleX(1);
}

.card:hover .card-cta {
  transform: scaleX(1);
  transition: tramsform 100ms 200ms;
}
.card-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: rgba(40, 15, 10, 0.87);
  text-decoration: none;
  align-self: flex-end;
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: inline-block;
  padding: 0.4rem 0.65rem;
  background: transparent;
  transition: all 250ms;
  border-radius: 150px;
  cursor: pointer;
}

.card-btn::after {
  content: '';
  left: 0;
  right: 0;
  display: block;
  bottom: 1px;
  height: 2px;
  background-color: rgba(40, 15, 10, 0.87);
  transform: scaleX(0);
  transition: transform 150ms;
}

.card-btn:hover::after {
  transform: scaleX(1);
}

.modal-bg {
  display: none;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  backdrop-filter: blur(1px);
  display: grid;
  place-items: center;
  transition: opacity 200ms;
  transition: backdrop-filter 200ms;
}

.open-modal-bg {
  display: grid;
  opacity: 1;
  backdrop-filter: blur(15px);
  pointer-events: all;
}

.modal {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background: hsl(14, 100%, 85%);
  border: 4px solid hsl(10, 63%, 10%);
  border-radius: 30px;
  display: flex;
  opacity: 0;
  transform: scaleY(0);
  transition: all 100ms ease-in-out;
  transition-delay: 0.1s;
  z-index: 999;
}

.modal p:empty {
  display: none;
}

.open-modal {
  opacity: 1;
  transform: scaleY(1);
}

.modal-image {
  max-width: 400px;
  max-height: 400px;
  border-radius: 25px;
  position: relative;
  aspect-ratio: 1;
}

.modal-text {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.modal-header {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 93.52%;
  color: rgba(40, 15, 10, 0.87);
}

.modal-title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 16px;
  text-transform: uppercase;
  text-align: justify;
  color: rgb(150, 86, 75);
}

.modal-date-venue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.modal-date,
.modal-venue {
  display: inline-block;
  padding: 0.2rem 0.75rem;
  border: rgba(40, 15, 10, 0.87) solid 2px;
  color: rgba(40, 15, 10, 0.87);
  font-weight: bold;
  border-radius: 50px;
}

.modal-desc {
  text-align: justify;
  color: #212121;
}

.modal-btn-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-contact {
  color: #442822;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  justify-self: flex-start;
  transition: box-shadow 250ms;
}

.modal-btn {
  display: inline-block;
  padding: 0.75rem 2rem;
  background: #442822;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  justify-self: flex-start;
  transition: box-shadow 250ms;
}

.modal-btn:hover {
  box-shadow: rgba(68, 40, 34, 0.3) 4px 4px 10px;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-tag {
    align-self: center;
  }

  .card-image {
    width: 100%;
    max-width: unset;
    max-height: unset;
  }

  .card-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(40, 15, 10, 0.87);
    text-decoration: none;
    padding: unset;
    align-self: center;
    position: static;
    display: inline-block;
    cursor: pointer;
    border-radius: unset;
    border-bottom: solid 2px rgba(40, 15, 10, 0.87);
  }

  .card-cta,
  .card-cta::after {
    transform: scaleX(1);
    align-self: center;
  }

  .modal {
    flex-direction: column;
    text-align: center;
    padding: 1.5rem 10px;
  }

  .modal-text {
    padding: unset;
  }

  .modal-image {
    max-width: 200px;
    max-width: 200px;
  }

  .modal-header {
    font-size: 1.2rem;
  }

  .modal-title {
    font-size: 0.8rem;
  }
  .modal-btn-contact {
    flex-direction: column;
    gap: 0.5rem;
  }

  .modal-desc {
    font-size: 14px;
  }

}