{% load static %}
<link rel="stylesheet" href="{% static 'navbarAndFooter/navbar.css' %}">
<div class="navMenu">
	<div class="menu-wrap">
		<ul class="menu">
			<li class="menu-item">
				<a href="#">Initiatives</a>
				<ul class="drop-menu">
					<li class="drop-menu-item">
						<a href="#">Corporate Social Responsibilities</a>
					</li>
					<li class="drop-menu-item">
						<a href="#">Industrial Visits</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="menu-wrap">
		<ul class="menu">
			<li class="menu-item">
				<a class="no_border" href="#">Events</a>
				<ul class="drop-menu">
					<li class="drop-menu-item">
						<a href="#">Events</a>
					</li>
					<li class="drop-menu-item">
						<a href="#">Workshops</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<a href="#">Timeline</a>
	<a href="#">Attractions</a>
	<a href="#">About Us</a>
	<a href="#">Contact Us</a>
	<a href="#">Sponsors</a>
	<a href="#">Teams</a>
	<a href="#">Merchandise</a>
	<div id="indicator"></div>
</div>

<img class="aarohan_logo" src="{% static 'img/final-logo.png' %}" alt="" />

<input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
<label for="menu-icon"></label>
<nav class="nav">
	<ul class="ul">
		<li class="link"><a href="#">Industrial Visits</a></li>
		<li class="link"><a href="#">Corporate Social Responsibilities</a></li>
		<li class="link"><a href="#">Events</a></li>
		<li class="link"><a href="#">Workshops</a></li>
		<li class="link"><a href="#">Timeline</a></li>
		<li class="link"><a href="#">Attractions</a></li>
		<li class="link"><a href="#">About Us</a></li>
		<li class="link"><a href="#">Contact Us</a></li>
		<li class="link"><a href="#">Sponsors</a></li>
		<li class="link"><a href="#">Teams</a></li>
		<li class="link"><a href="#">Merchandise</a></li>
	</ul>
</nav>
