@media (min-width: 992px) {
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="fb8333d5-9008-b2c9-1816-1d9f6ea49822"] {
      -webkit-transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="9689ed16-fab9-9743-744e-d5e5035cfce6"] {
      opacity: 0;
      -webkit-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="6c0da014-00cd-1789-f8d5-c173de44e435"] {
      opacity: 0;
      -webkit-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="84842d5b-3b76-358f-f70e-e6c65edded4a"] {
      opacity: 0;
      -webkit-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="fa864d07-89c4-309f-f9ea-32f52dd6180b"] {
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="43f8e971-a690-9060-e101-3943dc71b03e"] {
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="52c0daad-0247-a6d7-0a85-9e080f0c9283"] {
      opacity: 0;
    }
  }
  @media (max-width: 991px) and (min-width: 768px) {
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="fb8333d5-9008-b2c9-1816-1d9f6ea49822"] {
      -webkit-transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="9689ed16-fab9-9743-744e-d5e5035cfce6"] {
      opacity: 0;
      -webkit-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="6c0da014-00cd-1789-f8d5-c173de44e435"] {
      opacity: 0;
      -webkit-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="84842d5b-3b76-358f-f70e-e6c65edded4a"] {
      opacity: 0;
      -webkit-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 300%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="fa864d07-89c4-309f-f9ea-32f52dd6180b"] {
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="43f8e971-a690-9060-e101-3943dc71b03e"] {
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="52c0daad-0247-a6d7-0a85-9e080f0c9283"] {
      opacity: 0;
    }
  }
   /*General Scrollbar Styling */
   ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-track {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgb(29, 28, 27);
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgb(235, 222, 212);
  }