.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    transform: translate3d(66vw, 40vh, 93px);
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(66vw, 40vh, 93px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.59;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  transform: translate3d(81vw, 70vh, 64px);
  background: #26c7d9;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    transform: translate3d(32vw, 69vh, 52px);
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(32vw, 69vh, 52px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.58;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  transform: translate3d(14vw, 47vh, 80px);
  background: white;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    transform: translate3d(82vw, 45vh, 52px);
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(82vw, 45vh, 52px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.31;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  transform: translate3d(81vw, 1vh, 49px);
  background: white;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    transform: translate3d(36vw, 77vh, 53px);
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(36vw, 77vh, 53px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.44;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  transform: translate3d(41vw, 89vh, 63px);
  background: white;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    transform: translate3d(33vw, 55vh, 43px);
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(33vw, 55vh, 43px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.1;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: translate3d(81vw, 7vh, 94px);
  background: white;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    transform: translate3d(58vw, 57vh, 16px);
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(58vw, 57vh, 16px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.99;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(58vw, 32vh, 92px);
  background: white;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    transform: translate3d(19vw, 13vh, 60px);
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(19vw, 13vh, 60px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.35;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  transform: translate3d(20vw, 90vh, 39px);
  background: white;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    transform: translate3d(65vw, 58vh, 85px);
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(65vw, 58vh, 85px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.14;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  transform: translate3d(16vw, 52vh, 11px);
  background: white;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    transform: translate3d(62vw, 48vh, 25px);
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(62vw, 48vh, 25px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 1;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform: translate3d(75vw, 64vh, 24px);
  background: white;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    transform: translate3d(12vw, 26vh, 47px);
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(12vw, 26vh, 47px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.9;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: translate3d(40vw, 15vh, 46px);
  background: #5626d9;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    transform: translate3d(11vw, 45vh, 63px);
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(11vw, 45vh, 63px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.74;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  transform: translate3d(2vw, 32vh, 70px);
  background: #8826d9;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    transform: translate3d(52vw, 83vh, 22px);
  }
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(52vw, 83vh, 22px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.52;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  transform: translate3d(76vw, 30vh, 69px);
  background: #26d994;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    transform: translate3d(10vw, 66vh, 22px);
  }
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(10vw, 66vh, 22px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.18;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  transform: translate3d(9vw, 19vh, 36px);
  background: #26d95c;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    transform: translate3d(48vw, 56vh, 8px);
  }
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(48vw, 56vh, 8px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.5;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  transform: translate3d(89vw, 83vh, 4px);
  background: #2653d9;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    transform: translate3d(2vw, 86vh, 60px);
  }
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(2vw, 86vh, 60px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.9;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: translate3d(84vw, 89vh, 13px);
  background: #6526d9;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    transform: translate3d(13vw, 21vh, 43px);
  }
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(13vw, 21vh, 43px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.87;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  transform: translate3d(29vw, 82vh, 3px);
  background: #91d926;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    transform: translate3d(69vw, 73vh, 49px);
  }
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(69vw, 73vh, 49px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.31;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  transform: translate3d(19vw, 26vh, 27px);
  background: #269ad9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    transform: translate3d(32vw, 47vh, 41px);
  }
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(32vw, 47vh, 41px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.22;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  transform: translate3d(31vw, 88vh, 89px);
  background: #d9d026;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    transform: translate3d(32vw, 78vh, 11px);
  }
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(32vw, 78vh, 11px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.74;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  transform: translate3d(39vw, 32vh, 23px);
  background: #266bd9;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    transform: translate3d(61vw, 16vh, 74px);
  }
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(61vw, 16vh, 74px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.36;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: translate3d(6vw, 14vh, 21px);
  background: #d92653;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    transform: translate3d(38vw, 52vh, 70px);
  }
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(38vw, 52vh, 70px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.75;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  transform: translate3d(16vw, 29vh, 51px);
  background: #26d985;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    transform: translate3d(31vw, 28vh, 21px);
  }
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(31vw, 28vh, 21px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.76;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  transform: translate3d(56vw, 45vh, 10px);
  background: #d326d9;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    transform: translate3d(11vw, 76vh, 97px);
  }
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(11vw, 76vh, 97px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.06;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  transform: translate3d(30vw, 23vh, 12px);
  background: #26d926;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    transform: translate3d(75vw, 39vh, 43px);
  }
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(75vw, 39vh, 43px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.42;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  transform: translate3d(9vw, 70vh, 89px);
  background: #26d98e;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    transform: translate3d(25vw, 26vh, 68px);
  }
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(25vw, 26vh, 68px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.64;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  transform: translate3d(35vw, 16vh, 68px);
  background: #2671d9;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    transform: translate3d(74vw, 79vh, 36px);
  }
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(74vw, 79vh, 36px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.68;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  transform: translate3d(55vw, 74vh, 83px);
  background: #41d926;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    transform: translate3d(77vw, 29vh, 70px);
  }
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(77vw, 29vh, 70px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.9;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  transform: translate3d(57vw, 78vh, 29px);
  background: #26a3d9;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    transform: translate3d(42vw, 55vh, 76px);
  }
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(42vw, 55vh, 76px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.05;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  transform: translate3d(79vw, 13vh, 53px);
  background: #2680d9;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    transform: translate3d(31vw, 49vh, 89px);
  }
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(31vw, 49vh, 89px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.52;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  transform: translate3d(10vw, 62vh, 91px);
  background: #d9c426;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    transform: translate3d(40vw, 75vh, 45px);
  }
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(40vw, 75vh, 45px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.2;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  transform: translate3d(55vw, 51vh, 46px);
  background: #3826d9;
}
.particle {
  background-color: white !important;
}
