* {
    box-sizing: border-box;
}




body {
    margin: 0;
    padding: 0;
	height: 100vh;
    background: url('../../img/wholebg.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* z-index: 1; */
	
}
.logos{
    position: absolute;
    top: 0vh;
    right: 2vw;
    margin: 27px 5px;
}

.logo{
    width: 80px;
    margin-right: 10px;
    padding-right: 5px;
}

/* .full-body{
    background-image: url("assets/img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
} */

nav {
    overflow: hidden;
    position: relative;
    transform: translateX(-300px);
    width: 400px;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    border-radius: 0% 0% 100% 50%;
    padding: 0;
    height: 100vh;
}

nav.nav-open {
    transform: translateX(0px);
    border-radius: 0% 0% 0% 0%;
	 background: rgba(0,0,0, 0.4);
     width: 18vw;
}

nav .menu-btn {
    position: absolute;
    top: 3%;
    right: 5%;
    padding: 0;
    width: 50px;
    cursor: pointer;
    z-index: 2000;
}

nav .menu-open{
    width: 30px;
}

nav .menu-btn .line {
    padding: 0;
    width: 50px;
    background: #3e0808;
    height: 5px;
    margin: 5px 0;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

nav .menu-btn .line.line--1 {
    width: 38px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--1.line-cross {
    width: 30px;
    transform: rotate(45deg) translateY(10px);
	 background: rgba(0,0,0,0.6);
}

nav .menu-btn .line.line--2 {
    width: 28px;
    transform: translateX(0);
}

nav .menu-btn .line.line--2.line-fade-out {
    width: 28px;
    transform: translate(30px);
    opacity: 0;
}

nav .menu-btn .line.line--3 {
    width: 20px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--3.line-cross {
    width: 30px;
    transform: rotate(-45deg) translateY(-10px);
	 background: rgba(0,0,0,0.6);
}

nav .nav-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links.fade-in {
    opacity: 1;
    transform: translateX(0px);
}

nav .nav-links .link {
    margin: 5px 0;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(253 ,253 ,253 ,1);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1rem;
    transition: all 300ms cubic-bezier(.9, 0, .33, 1);
    padding: 4px 30px;
}

nav .nav-links .link:hover{
    background: linear-gradient(to left,transparent,rgb(184 164 164));
    border-left: 5px solid whitesmoke;
}

/* nav .nav-links .link:hover {
   color: rgb(184 164 164);
} */
/* .content{
    	background-image: url();
} */

/* .inform{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgba(255, 255, 255, 0.8);
	font-size: 2rem;
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.support{
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding: 10px;
	display: flex;
} */
a{
	padding: 2px 12px;
	color: #fff;
	font-size: 2rem;
	transition: all 400ms ease;
}

a:hover{
	color: #222;
}


*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#arhn_header {
    position: absolute;
    left: 5rem;
    top: 2rem;
    z-index: 100;
    margin-left: 80vw;
    cursor: pointer;
    /* height: 100px;
    width: 300px;   */
    padding-right: -20px;
}

#aarohan-text-container{
    position: absolute;
    /* margin-bottom: 50vh; */
    z-index: 100;
    /* margin-left: 20vw; */
    height: 300px;
    width: 900px;
    margin: 20vw;
   
}

.social_links{
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    margin-left: 5px;
    position: absolute;
    bottom: 0px;
}

@media (max-width:600px){
    body{
        background-size: 100% 100%;
    }
    .logos{
        position: absolute;
        top: 0vh;
        right: 0;
        margin: 22px 3px;
    }
    .logo{
        width: 45px;
        margin-right: 5px;
        padding-right: 3px;
    }
    nav.nav-open {
        width: 45vw !important;
   }
    nav .nav-links .link{
        margin-left: -15px;
        margin-bottom: 7px;
        font-size: 1rem;
    }
    .social_links a{
        padding: 15px 15px;
        font-size: 1.7rem;
        margin-left: -20px;
    }
}

.aarohan-text-container-img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: centre;
    /* width: auto;   */
    /* text-align: center; */
    z-index: 500;
    height: 50vh;
    /* width: 400vw; */
    
   
}

.asteroids{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: centre;
    width: auto;  
    margin-left: 60px;
    /* text-align: center; */
    /* overflow: hidden; */
    z-index: 100;
    padding: 30px;
    /* width: 100vw; */
    height: 110vh;
    padding-left: 100px;
}


@media (max-width: 992px) {
body{
    background-image: url('../../img/wholePhone.png');
}
nav.nav-open {
     width: 35vw;

}
.social_links{
    margin-left: 5px;
    padding: 15px 20px;
    margin-bottom: 30px;
}
}
@media (min-width:1000px ) and (max-width: 1200px) {
    .nav-home{
         width: 25vw !important; 
    }}
