
  .swiper-container {
    position: absolute!important;
    z-index: 10;
    width: 100%;
    top: 0 !important;
    left: 0 !important;
    transform: translateY(35%) !important;
    overflow: hidden;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
  }
  .modal{
    cursor: auto!important;
  }
  .modal-dialog {
    max-width: 800px !important;
  }
  .modal-open {
    overflow: visible !important;
  }

  .modal-backdrop {
    opacity: 0.9 !important;
  }

  .modal-header {
    background-color: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  }
  .modal-body {
    background-color: rgb(225, 240, 245);
    font-size: 1.5rem;
    font-family: 'Comfortaa', cursive;
  }
  .modal-body .title{
    font-size: 1.8rem;
    font-weight: 550;
  }
  .modal-footer{
    /* justify-content: center; */
    background-color: rgb(225, 240, 245);
  }
  .z-depth-1-half {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.18),0 12px 5px 0 rgba(0,0,0,0.15) !important;
  }
  .rounded-circle {
    border-radius: 10% !important;
}

.btn{
  color: #2196f3;
  text-decoration: none;
  /* transition: 0.2s; */
}
.btn:hover{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  color: white;
}
  @media only screen and (max-width: 1500px) {
    .swiper-container {
      transform: translateY(40%) !important;
    }
  }

  .modal-open {
    overflow: visible !important;
  }

  @media only screen and (max-width: 1200px) {
    .swiper-container {
      transform: translateY(45%) !important;
    }
  }

  .modal-open {
    overflow: visible !important;
  }

  @media only screen and (max-width: 650px) {
    .row{
      display: contents;
    }
    .row .col-4 {
      max-width: 80%!important;
    }
    .row .col-8{
      max-width: 90%;
    }
  }
  @media only screen and (max-width: 450px) {
    .swiper-slide {
      width: 320px;
      height: 320px;
    }
    .swiper-container {
      transform: translateY(50%) !important;
    } 
    .row .col-4 {
      max-width: 90%!important;
    }
  }
  @media only screen and (max-width: 340px) {
    .swiper-slide {
      width: 250px;
      height: 250px;
    }
    .swiper-container {
      transform: translateY(55%) !important;
    } 
  }
