body {
  font-family: "Catamaran", sans-serif;
}

@font-face {
  font-family: Muller;
  src: url("../fonts/Muller/MullerNarrowDemo-ExtraBold.otf");
}

/* loader gif */
#loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 55555;
  overflow: hidden;
  background: rgb(104, 208, 138) url("../img/load.gif") no-repeat ;
  background-position-x: 35%;
  background-position-y: 18%;
}

/* landing */
#head-txt-1 {
  position: absolute;
  top: 10vh;
  left: 0;
  font-size: 15vw;
  letter-spacing: 3vw;
  text-align: right;
  font-family: Muller;
}

#head-txt-2 {
  position: absolute;
  top: 10vh;
  right: 0;
  font-size: 15vw;
  letter-spacing: 3vw;
  text-align: left;
  font-family: Muller;
}

#mob_head {
  display: none;
}

#header {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

#front-wave {
  position: absolute;
  z-index: 10;
  top: 0;
}
#front-wave-img {
  height: auto;
  width: 100vw;
}

/* eye container */
#eye-container {
  position: absolute;
  z-index: 1;
  right: 43%;
  bottom: 0;
}
#eye-container-img {
  height: 95vh;
}

/* eye */
.eyes {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 2;
  top: 51%;
}
.eye {
  width: 5vw;
  height: 5vw;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball {
  width: 1vw;
  height: 1vw;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 15px solid #000;
}

/* social icons */
.social_links {
  z-index: 5;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  text-align: center;
}

.social_links i {
  margin-top: 0.7em;
  font-size: 1.4em;
  color: black;
}

/* events */
.center {
  background: transparent;
  position: absolute;
  right: 45%;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  z-index: 10;
  top: 20%;
}

.center_txt {
  position: absolute;
  top: 33%;
  background: white;
  width: 100%;
  text-align: center;
  padding: 1vh 0;
  letter-spacing: 5px;
}

.sides {
  background: transparent;
  position: absolute;
  right: 50vw;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  top: 30%;
}

.side_txt {
  text-align: center;
  background-color: aliceblue;
  margin: 0;
  transition: ease-in 0.5s;
  /* padding-bottom: 100%; */
}

.txt_div {
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  transition: ease-in 0.5s;
}

.txt_div:hover {
  opacity: 1;
  padding-top: 35%;
}

#evnt_circle_mobile {
  display: none;
}

#evnt_circle {
  height: 50%;
  width: 50%;
  position: absolute;
  bottom: 25%;
  right: 25%;
}

/* events circle rad */
.c_img,
.s_img {
  width: 100%;
}

.rad {
  height: 0;
  width: 20vw;
  z-index: 5;
  position: relative;
}

#rad1 {
  transform: rotateZ(27deg);
  left: 2%;
  top: 32%;
}

#rad2 {
  transform: rotateZ(90deg);
  left: 20%;
  top: 13%;
}

#rad3 {
  transform: rotateZ(-34deg);
  left: 3%;
  top: 67%;
}

#rad4 {
  transform: rotateZ(-90deg);
  left: 20%;
  top: 82%;
}

#rad5 {
  transform: rotateZ(208deg);
  left: 38%;
  top: 63%;
}

#rad6 {
  transform: rotateZ(-214deg);
  left: 37%;
  top: 25%;
}

#side1,
#side2,
#side3,
#side4,
#side5,
#side6 {
  opacity: 0;
  top: -5vw;
  left: 200px;
}

/* events */
#evnt_back {
  position: relative;
  z-index: 0;
  height: 100vh;
  overflow: hidden;
}

#evnt_back img {
  width: 100%;
}

/* contact us */
#cntct_us {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#cntct_us img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* about */
#about-us {
  position: relative;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#about-handle {
  position: absolute;
  z-index: 20;
  top: 0;
}
#about-us-img {
  width: 100%;
  height: auto;
}
#about-handle-img {
  height: 90vh;
  /* width: 100vw; */
}

#txt-2 {
  position: absolute;
  z-index: 55;
  top: 5vh;
  width: 30vw;
  color: white;
  right: 5vw;
  font-size: 1.2em;
}

/* workshop */
/*.workshop-div{
  position: absolute;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 100%;
}*/
.workshop-div{
  position: absolute;
  z-index: 5;
  top: 18%;
  left: 5%;
  width: 100%;
  height: 100%;
}

/* contact us */
.contact-us {
  position: absolute;
  z-index: 55;
  top: 20%;
  left: 20%;
  color: white;
  font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
  /* landing */
  #mob_head {
    display: block;
    position: absolute;
    top: 57%;
    width: 60vw;
    left: 5vw;
  }

  #head-txt-1 , #head-txt-2 {
    display: none;
  }

  /* event badges */
  #evnt_circle_mobile {
    display: block;
    width: 100%;
    right: 0;
    height: 60%;
    bottom: 20%;
    position: absolute;
  }

  #evnt_circle {
    display: none;
  }

  .center {
    right: 30%;
    width: auto;
    height: 35%;
    top: 32.5%;
  }

  .c_img {
    width: auto;
    height: 100%;
  }

  .center_txt {
    font-size: 1.3em;
    font-weight: bold;
  }

  /* event txt */
  .txt_div {
    opacity: 1;
    top: -5vh;
  }

  .side_txt {
    background-color: transparent;
    color: white;
  }

  /* event sides */
  .sides_mob {
    background: transparent;
    position: absolute;
    right: 37.5%;
    width: 25%;
    height: auto;
    border-radius: 50%;
    top: 0%;
  }

  #side1 {
    opacity: 1;
    top: 0;
    left: auto;
  }

  #side2 {
    opacity: 1;
    top: 15%;
    right: 5%;
    left: auto;
  }

  #side3 {
    opacity: 1;
    top: 15%;
    left: 5%;
  }

  #side4 {
    opacity: 1;
    bottom: 15%;
    right: 5%;
    top: auto;
    left: auto;
  }

  #side5 {
    opacity: 1;
    top: auto;
    bottom: 0;
    left: auto;
  }

  #side6 {
    opacity: 1;
    top: auto;
    left: 5%;
    bottom: 15%;
  }

  #header {
    height: 100%;
    width: auto;
  }

  /* wave */
  #front-wave {
    height: 100%;
    width: auto;
    top: unset;
    bottom: 0;
  }

  #front-wave-img {
    height: 100%;
    width: auto;
  }

  /* eye */
  #eye-container {
    bottom: -2vh;
    right: -17vw !important;
  }

  #eye-container-img {
    height: 70vh;
  }

  .eyes {
    display: none;
  }

  /* about us */
  #about-us {
    height: 100%;
    width: auto;
  }

  #about-us-img {
    height: 100vh;
    width: auto;
  }

  #about-handle {
    right: -104vw !important;
  }

  #about-handle-img {
    height: 70vh;
  }

  /* contact us */
  #cntct_us img {
    height: 100vh;
    width: auto;
    right: 0;
  }
  .contact-us {
    text-align: center;
    top: 14%;
    left: 10%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 11vh;
  }
  #txt-2 {
    top: 7vh;
    width: auto;
    color: white;
    right: unset;
    font-size: 1.05em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    font-size: 1.05em;
    text-align: center;
  }
  .workshop-img{
    height:32vh;
    width: auto;
    padding-left: 20%;
    padding-right: 20%;
  }
  .workshop-div{
    position: absolute;
    z-index: 5;
    top: 0;
    left: unset;
    width: 100%;
    height: 100%;
  }
}



/* ====================================
Navigation 
==================================== */

.overlay-navigation {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.8);
  transform: translateY(-100%);
}

.overlay-slide-down {
  transition: all .4s ease-in-out;
  transform: translateY(0)
}

.overlay-slide-up {
  transition: all .8s ease-in-out;
  transform: translateY(-100%)
}

nav,
nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  transform: translateY(-100%);
}

nav li a {
  position: relative;
  top: 46%;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Work sans', sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.9rem;
}

nav li a:before {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  transform: translateX(-100%);
  opacity: 0;
  transition: all .2s linear;
}

nav li a:after {
  content: attr(data-content);
  font-size: 0.7rem;
  transition: all .2s linear;
  opacity: 0;
  position: absolute;
  z-index: 100;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: -50px;
  text-transform: none;
  font-family: 'Open sans', serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
}

nav li a:hover:before {
  transform: translateX(0);
  opacity: 1;
}

nav li a:hover:after {
  transform: translateY(15px);
  opacity: 1;
}

nav li:nth-of-type(1){background-color: #536d3b}
nav li:nth-of-type(2){background-color: #51372c}
nav li:nth-of-type(3){background-color: #98b168}
nav li:nth-of-type(4){background-color: #394a38}
nav li:nth-of-type(5){background-color: #192123}

.slide-in-nav-item {
  animation: slide-in-nav-item 0.4s linear 1 .2s both;
}

.slide-in-nav-item-delay-1 {
  animation: slide-in-nav-item 0.4s linear 1 .4s both;
}

.slide-in-nav-item-delay-2 {
  animation: slide-in-nav-item 0.4s linear 1 .6s both;
}

.slide-in-nav-item-delay-3 {
  animation: slide-in-nav-item 0.4s linear 1 .8s both;
}

.slide-in-nav-item-delay-4 {
  animation: slide-in-nav-item 0.4s linear 1 1s both;
}

.slide-in-nav-item-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .5s both;
}

.slide-in-nav-item-delay-1-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .4s both;
}

.slide-in-nav-item-delay-2-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .3s both;
}

.slide-in-nav-item-delay-3-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .2s both;
}

.slide-in-nav-item-delay-4-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 both;
}


/* ====================================
Burger king
==================================== */

.open-overlay {
  position: absolute;
  right: 5rem;
  top: 3.2rem;
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;
}

.open-overlay span {
  display: block;
  height: 1px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 8px;
}

.animate-top-bar {
  animation: animate-top-bar .6s linear 1 both
}

.animate-bottom-bar {
  animation: animate-bottom-bar .6s linear 1 both
}

.animate-middle-bar {
  animation: animate-middle-bar .6s linear 1 both
}

.animate-out-top-bar {
  animation: animate-out-top-bar .6s linear 1 both
}

.animate-out-bottom-bar {
  animation: animate-out-bottom-bar .6s linear 1 both
}

.animate-out-middle-bar {
  animation: animate-out-middle-bar .6s linear 1 both
}


/* ====================================
Animation keyframes
==================================== */

@keyframes slide-in-nav-item {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes slide-in-nav-item-reverse {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
}

@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}

@keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}

@keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }
  80% {
    background-color: #fff;
  }
  100% {
    background-color: #29363B;
  }
}

@keyframes animate-out-top-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363B
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B
  }
  80% {
    background-color: #29363B;
  }
  100% {
    background-color: #fff;
  }
}
.home a{
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  z-index: 10;
  top:50px;
  left:50px;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
}
@media (max-width: 640px) {
  nav ul li a {
    font-size: 11px;
  }
  nav li a:after {
    font-size: 0.6rem;
  }
  .open-overlay {
    right: 1rem;
  }
  nav li a:before {
    width: 15px;
  }
  #loader {
    background-position-x: 46%;
    background-position-y: 18%;
  }
}