.section {
    background: #010936;
    background: -webkit-linear-gradient(top, #010936, #3c0136);
    background: -moz-linear-gradient(top, #010936, #3c0136);
    background: linear-gradient(to bottom, #010936, #3c0136);
  }
  .workshop {
    width: 100%;
  }
  .title {
    width: 100%;
    text-align: left;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 130px;
    padding-left: 100px;
  }
  @media(max-width:640px){
    .title {
      padding-left: 0;
      margin-bottom: 1.25rem !important;
      text-align: center;
    }
  }
  .swiper {
    width: 100%;
    padding: 50px 0 !important;
    padding-top: 30px !important;
  }
  .swiper-slide {
    height: 390px !important;
    width:  380px !important;
    position: relative;
    border: none;
    z-index: 3;
    border-radius: 10px;
    transition: transform 0.8s ease-in-out;
    text-decoration: none;
  }
  .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.05);
  }
  @media(max-width:600px){
    .swiper-slide{
      max-width: 90vw !important;
      height: unset !important;
    }
    .swiper {
      padding: 0 0 !important;
      margin-top: 60px;
    }
    .hero 
    {
    height: 420px !important;
    }
    .hero-description {
        bottom: 26%;
        margin-top:30px !important;
        left: 130px !important;
      }
  }
/* BEGIN CARD DESIGN */
.hero {
    display: inline-block;
    position: relative;
    width: 350px;
    min-width: 350px;
    height: 400px;
    border-radius: 30px;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin: 30px;
  }
  
  .hero-profile-img {
    height: 70%;
    width: 100%;
    overflow:hidden;
    object-fit:cover;
  }
  
  .hero-description-bk {
    background-image: linear-gradient(0deg , #3f5efb, #fc466b);
    border-radius: 30px;
    position: absolute;
    top: 55%;
    left: -5px;
    height: 65%;
    width: 108%;
    transform: skew(19deg, -9deg);
  }
  
  .second .hero-description-bk {
    background-image: linear-gradient(-20deg , #bb7413, #e7d25c)
  }
  
  .hero-logo {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    bottom: 30%;
    left: 30px;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
  }
  
  .hero-logo img {
    height: 100%;
  }
  
  .hero-description {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    left: 150px;
    bottom: 23%;
    margin-top:20px !important;
  }
  .hero-btn {
    position: absolute;
    color: #fff;
    right: 30px;
    bottom: 10%;
    padding: 10px 20px;
    border: 1px solid #fff;
  }
  
  .hero-btn a {
    color: #fff;
    text-decoration: none;
  }
  
  .hero-date {
    position: absolute;
    color: #fff;
    left: 30px;
    bottom: 10%;
  }
  /* END CARD DESIGN */
  
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #eee;
    min-height: 100vh;
  }
  .btn i:before {
    width: 14px;
    height: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top:5px;
    right:5px;
  }



  